<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <div class="div-inline">
        <a href="https://twitter.com/alexalm2495" class="text-info">@alexalm2495</a>
        <a href="https://github.com/alex-lz" class="text-secondary">GitHub</a>
      </div>
    </div>
</nav>