<html lang="en">
{{> head}}
<body>
  {{> navbar}}
  <div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hello, Dear!</h1>
        <p class="lead">This is a simple web app for converting excel tables into sql queries.</p>
        <hr class="my-4">
        <p>Life can be easy.</p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Go back</a>
    </div>
  </div>   
  {{> footer}}
</body>
</html>