<html lang="en">
{{> head}}
<body>
    {{> navbar}}
    <div class="lz-container">
		<h2>Convertir tabla de excel a consultas de sql</h2>
        <form 
		 ref='uploadForm' 
		 id='uploadForm' 
		 action='/upload' 
		 method='post' 
		 encType="multipart/form-data"
		>
		    <input type="file" name="sampleFile" accept=".xls, .xlsx" id="file" class="inputfile" onchange="preview_image()"/>
            <label for="file" id="fileName" class="for-excel"><i class="icon-excel"></i> Elegir un archivo</label>
            <button id="upload" type="submit" class="button button2" disabled><i class="icon-upload"></i> Subir</button>
		</form>	
        <br />
		<form method="get" action="/excel/ejemplo">
            <button type="submit" class="button button3"><i class="icon-download"></i> Excel ejemplo</button>
        </form>
        <img class="excel-exp"></div>
    </div>
    {{> footer}}
	<script>
        function preview_image() {
            var fullPath = document.getElementById('file').value;
			var etiqueta = document.getElementById('fileName');
			var btnUpload = document.getElementById('upload');
            if (fullPath) {
                var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
                var filename = fullPath.substring(startIndex);
                if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                    filename = filename.substring(1);
                }
                btnUpload.disabled = false;
				etiqueta.innerHTML = '<i class="icon-excel"></i> '+ filename;
            }
        }
    </script>
</body>
</html>