footer {
    background-color: #353a3f;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    padding: 20px;
}

h2 {
    color: lightslategray;
    margin-bottom: 2em;
}

*:focus {

  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/* Input file personalization */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1em;
    font-weight: 500;
    color: #4CAF50;
    padding: 0.5em;
    border-radius: 5px;
    background-color: white; 
    border: 2px solid #4CAF50;
    transition-duration: 0.5s;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #4CAF50;
    color: white;
    cursor: pointer; /* "hand" cursor */
}

/* Icon's style */
[class*="icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-size: auto;
  display: inline-flex;
  width: 1em; 
  height: 1em;
}

.icon-excel { 
  content: url('../img/file-excel-solid.svg'); 
  filter: invert(55%) sepia(74%) saturate(376%) hue-rotate(72deg) brightness(93%) contrast(87%);
} 

.icon-upload { 
  content: url('../img/upload-solid.svg');  
  filter: invert(34%) sepia(80%) saturate(1305%) hue-rotate(165deg) brightness(95%) contrast(101%);
} 

button:disabled > .icon-upload {
  filter: invert(51%) sepia(30%) saturate(343%) hue-rotate(176deg) brightness(93%) contrast(89%);
}

button:disabled:hover > .icon-upload {
  filter: invert(51%) sepia(30%) saturate(343%) hue-rotate(176deg) brightness(93%) contrast(89%);
}

.icon-download { 
  content: url('../img/download-solid.svg');  
  filter: invert(59%) sepia(63%) saturate(2021%) hue-rotate(3deg) brightness(109%) contrast(103%);
} 

.inputfile:focus + label > .icon-excel,
.inputfile + label:hover > .icon-excel {
  filter: invert(92%) sepia(3%) saturate(4645%) hue-rotate(82deg) brightness(85%) contrast(107%);
}

.button2:hover > .icon-upload {
  filter: invert(70%) sepia(13%) saturate(1058%) hue-rotate(160deg) brightness(98%) contrast(80%);
}

.button3:hover > .icon-download {
  filter: invert(96%) sepia(23%) saturate(4965%) hue-rotate(308deg) brightness(104%) contrast(95%);
}


/* Buttons style */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .button1 {
    background-color: white; 
    color: #4CAF50; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: #008CBA; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }

  .button3 {
    background-color: white; 
    color: orange; 
    border: 2px solid orange;
  }
  
  .button3:hover {
    background-color: orange;
    color: white;
  }

  button:disabled {
    background: white;
    color: rgb(111, 130, 158);
    border: 2px solid rgb(111, 130, 158);
  }

  button:disabled:hover {
    background: white;
    color: rgb(111, 130, 158);
    border: 2px solid rgb(111, 130, 158);
  }

  /* Images styles */
  .excel-exp { 
    width: 997px;
    height: 383px;
    background-image: url('../img/excel.jpg');
  } 
  
  .ambientacion-exp { 
    width: 997px;
    height: 575px;
    background-image: url('../img/ambientacion.jpg');
  } 

  .lz-container {
    display: table;
    width: auto;
    margin: 0px; /* adjust as needed */
    padding: 0px; /* adjust as needed */
    margin: 0 auto;
  }